/* style.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  background-color: #f9f9f9;
  margin: 0;
}


h2, h3 {
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
}

.form-container {
  max-width: 350px;
  margin: 100px auto; /* centers the form horizontally */
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}


button {
  padding: 6px 12px;
  margin-top: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

#checkResult,
#depositResult,
#withdrawResult,
#result {
  font-weight: bold;
  margin-top: 10px;
  color: green;
}
